body {
    font-family: Arial;
    margin: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

section {
    background: white;
    margin: 20px;
    padding: 30px;
}

.slider img {
    width: 100%;
    margin-top: 10px;
}

footer {
    background: #ddd;
    text-align: center;
    padding: 20px;
}